<button class="sortDate" mat-raised-button color="primary" (click)="toggleFormat()">Посортувати по даті</button>
<ngb-carousel>
  <ng-template *ngFor="let film of (soonFilms) " ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="film.img" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>{{film.name}}</h3>
      <p>Дата виходу: {{film.data | date: 'fullDate'}}</p>
    </div>
  </ng-template>
</ngb-carousel>

<div class="container">
  <div class="soonFilmsList" *ngFor="let film of soonFilms | sortBy: by">
    <div class="soonImg">
      <img [src]="film.img" alt="Random first slide">
    </div>
    <div class="soonText">
      <h3>{{film.name}}</h3>
      <p>Дата виходу: {{film.data | date: 'fullDate'}}</p>
    </div>
  </div>
</div>
