.picsum-img-wrapper
  width: 50%
  margin: 0 auto
  height: 70vh

  img
    object-fit: contain
    height: 100%
    width: 100%


.carousel-caption
  color: #1d1d1d
  font-weight: bold

.carousel-caption
  position: absolute
  display: flex
  background-color: rgba(209, 209, 210, 0.6)

  justify-content: center
  flex-direction: column
  bottom: 20px
  h3
    font-weight: bold
    color: crimson
    font-size: 20px

.carousel-control-prev-icon, .carousel-control-next-icon
  background: #000000
  width: 50px!important
  height: 50px!important

.sortDate
  display: block
  margin: 0px auto 20px

.carousel
  outline: none

.soonFilmsList
  display: flex

  margin-top: 30px
  background-color: rgba(209, 209, 210, 0.6)
  .soonImg
    width: 30%
    height: 200px
    img
      width: 100%
      height: 100%
      object-fit: contain

.soonText
  padding-left: 30px
  padding-top: 30px
  h3
    font-size: 28px
  p
    font-size: 23px
