<div class="footer">
  <a class="btnLink" mat-stroked-button routerLink="actions">Усі акції та пропозиції</a>
  <h2 class="text-center">Остання Акція</h2>
  <p>
    {{cinemaName}} SHOP – online магазин іграшок-сувенірів та найкрутіших стаканів з іграшками-топером! Поки ти не можеш
    піти у кіно — улюблені герої можуть дивитися його вдома разом з тобою. Обійми м'якенького зайчика, посади поруч Соніка
    та розбишак-тролів. І не забудь про Люка Скайвокера, він пригляне за порядком. Чим не ідеальна компанія на карантин?
  </p>
</div>
